.profile__edit {
    margin-left: 19px;
    border: none;
    background-image: url(../../../images/EditButton.svg);
    background-color: transparent;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

@media (max-width: 720px) {
    .profile__edit {
        margin: 0;
        background-image: url(../../../images/EditButton-mini.svg);
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
    }
}