.profile__avatar {
    border-radius: 120px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
}

.profile__avatar:hover {
  opacity: 0.2;
  transition: opacity .3s ease;
}