.popup__img-close {
    background-image: url(../../../images/CloseIcon1.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px;
    right: -50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 720px) {
    .popup__img-close {
        background-image: url(../../../images/CloseIcon-mini.svg);
        background-size: cover;
        background-repeat: no-repeat;
        top: -38px;
        right: 0;
    }
}