.header__button {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: right;
color: #FFFFFF;
background-color: transparent;
border: none;
text-decoration: none;
}